window#waybar {
    font-family: "Noto Emoji SemiBold";
    font-size: 10pt;
    border: none;
    color: #383a42;
    background-color: rgba(0, 0, 0, 0);
}


window#waybar.solo {
    color: #fafafa;
    background-color: #383a42;
}

window#waybar.imv, window#waybar.mpv {
    color: #fafafa;
    background-color: #000000;
}

window#waybar.kitty {
    color: #383a42;
    background-color: #fffdff;
}

label {
    padding: 0px 5px;
    color: inherit;
}

#window, #workspaces {
    font-family: "monospace, Noto Emoji SemiBold";
    font-size: 12pt;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button {
    /* Avoid rounded borders under each button name */
    box-shadow: inset 0 0 transparent;
    border-radius: 0;
    border: none;
    padding: 0px 8px;
    color: inherit;
}

window#waybar.solo #workspaces button.active {
    box-shadow: inset 0 -3px #fafafa;
}

window#waybar.solo #workspaces button.focused {
    box-shadow: inset 0 -3px #fafafa;
}

#workspaces button.active, window#waybar.kitty #workspaces button.active {
    box-shadow: inset 0 -3px #383a42;
}

#workspaces button.focused, window#waybar.kitty #workspaces button.focused {
    box-shadow: inset 0 -3px #383a42;
}

#workspaces button.urgent {
    background-color: #c18401;
    color: #383a42;
}

#mode {
    background-color: #4078f2;
    color: #fafafa;
}

#network.disconnected {
    background-color: #e45649;
    color: #fafafa;
}

#pulseaudio:not(.source-muted) {
    background-color: #50a14f;
    color: #fafafa;
}

#battery.discharging {
    background-color: #e45649;
    color: #fafafa;
}

#tray {
    margin: 3px 3px;
    padding: 0px 5px;
    color: #fafafa;
    background-color: #383a42;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#scratchpad {
    padding: 0px 8px;
}

#scratchpad.empty {
    padding: 0;
    background-color: transparent;
}

#clock {
    margin-right: 5px;
}

#gamemode.running {
    padding-left: 10px;
    background-color: #a626a4;
    color: #fafafa;
}

#custom-hyprland\/touch.enabled {
    background-color: #50a14f;
    color: #fafafa;
}

#temperature.critical {
    background-color: #c18401;
    color: #383a42;
}
